.img-logo{
    width: 300px;
}

.img-magnifying{
    width: 25px;
}

.bg-menu{
    background-color: #ffffff;
}

.bg-logo-sede{
    background-color: #ebebeb;
}

.bg-interesante{
    background-color: #04337a;
}

.card-interesante{
    background-color: #dbe2ec;
}

.bg-button{
    background-color: #0057a6;
}

.bg-magnifying{
    background-color: #0057a6;
}