/* -- Fonts --*/
@font-face {
    font-family: 'Roboto';
    src: url('./../fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'Roboto-Bold';
    src: url('./../fonts/Roboto/Roboto-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'Raleway';
    src: url('./../fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


@font-face {
    font-family: 'Raleway-Bold';
    src: url('./../fonts/Raleway/static/Raleway-ExtraBold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
}


/* ---- Backgrounds & Image Color---- */
.bg-img-section1{
    background-image: url('./../..//Images/image-section1.jpg');
    height: 629px;
}


.back-black{
    background-color: #111111;
}


.bg-grey{
    background-color: #F8F8F8;
}


.bg-button{
    background-color: #3333F5;
}


.bg-button:hover{
    background-color: #DDAF2F;
}


.bg-button2{
    background-color: #DDAF2F;
}


.bg-button2:hover{
    background-color: #3333F5;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='white' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}


.img-magnifying{
    filter: invert(1);
    filter: invert(100%) sepia(3%) saturate(7%) hue-rotate(345deg) brightness(104%) contrast(100%);
}


.img-magnifying:hover{
    filter: invert(1);
    filter: invert(88%) sepia(0%) saturate(42%) hue-rotate(235deg) brightness(108%) contrast(89%);
}


.color-svg-blue{
    filter: invert(21%) sepia(99%) saturate(4583%) hue-rotate(239deg) brightness(95%) contrast(103%);
}


.color-svg-blue:hover{
    filter: invert(33%) sepia(92%) saturate(6455%) hue-rotate(239deg) brightness(102%) contrast(92%);
}


.star-color{
    filter: invert(81%) sepia(52%) saturate(1548%) hue-rotate(325deg) brightness(107%) contrast(100%);
}


.star-color:hover{
    filter: invert(78%) sepia(51%) saturate(881%) hue-rotate(329deg) brightness(97%) contrast(87%);
}


/* ---- Text Color ---- */
.text-yellow {
    color: #DDAF2F;
}


.text-white {
    color: #ffffff;
}

.text-semiwhite{
    color: #E7E7E7;
}

.text-black {
    color: #000000;
}


.text-blue {
    color: #3333F5;
}


.text-view{
    color: #ffffff;
}

.text-view:hover{
    color: #000000;
}


.text-view2{
    color: #000000; 
}

.text-view2:hover{
    color: #ffffff;
}










/* ---- Font Size ---- */
.font-s14{
    font-size: 14px;
}


.font-s15{
    font-size: 15px;
}


.font-s16{
    font-size: 16px;
}


.font-s17{
    font-size: 17px;
}


.font-s20{
    font-size: 20px;
}


.font-s22{
    font-size: 22px;
}


.font-s28{
    font-size: 28px;
}


.font-s40{
    font-size: 40px;
}


.font-s70{
    font-size: 70px;
}



/* ---- Font Family ---- */
.font-Roboto{
    font-family: 'Roboto';
}


.font-Roboto-Bold{
    font-family: 'Roboto-Bold';
}


.font-Raleway{
    font-family: 'Raleway';
}


.font-Raleway-Bold{
    font-family: 'Raleway-Bold';
}



/* ---- Font Weight ---- */
.font-w500{
    font-weight: 500;
}

.font-bold{
    font-weight: bold;
}

.font-bolder{
    font-weight: bolder;
}


/* ---- Widht & Height ---- */
.section1-width{
    width: 600px;
}

.img-logo{
    width: 20px;
    height: 36px;
}


.div-btn{
    width: 171px;
    height: 67px;
}


.div-btn2{
    width: 202px;
    height: 67px;
}


.div-btn3{
    width: 270px;
    height: 67px;
}


.row-height{
    height: 90px;
}


.img-carousel{
    width: 350px;
    height: 350px;
}

.carousel-dimensions{
    width: 350px; 
    height: 350px;
}



/* ---- Effects ---- */
.top-line > a{
    position: relative;
}

.top-line > a:before{
    content: "";
    position: absolute;
    width: 85%;
    height: 2px;
    top: 0;
    margin: 5px 0;
    background-color: #DDAF2F;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.4s ease-in-out 0s;
}

.top-line > a:hover:before{
    visibility: visible;
	transform: scaleX(1);
}


/* ---- General ---- */













a{
    text-decoration: none;
}


/* ---- NavBar ---- */



.nav-height{
    height: 80px;
}





.img-logo:hover{
    width: 20px;
    height: 36px;
    filter: invert(19%) sepia(99%) saturate(5630%) hue-rotate(244deg) brightness(87%) contrast(101%);
}


.nav-text-homepage{
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 15px;
    font-weight:500;
}


.nav-text-homepage:hover{
    font-family: 'Roboto';
    color: #E7E7E7;
    font-size: 15px;
    font-weight:500;
}


.nav-text{
    font-family: 'Roboto';
    color: #ffffff;
    font-size: 15px;
    font-weight:500;
}


.nav-text:hover{
    font-family: 'Roboto';
    color: #DDAF2F;
    font-size: 15px;
    font-weight:500;
}











.navbar-toggler{
    border: 2px solid white;
    float: none;
    margin-right:0;
}


.navbar-toggler:focus{
  box-shadow: none;
}





















/* ---- Section 1 ---- */
#section1{
    height: 629px;
}












/* ---- Section 2 ---- */




/* ---- Section 3 ---- */





/* ---- Section 5 ---- */



/* ---- Footer ---- */
